<!DOCTYPE html>
<html>
  <head>
    <title>BabkaOverflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

        <meta property='og:title' content='Babka Overflow'/>
        <meta property='og:image' content='//raw.githubusercontent.com/hgparker/full_stack_project/main/splash_screenshot.png'/>
        <meta property='og:description' content='Babka Overflow is a full-stack clone of Stack Overflow where users can post questions and answers'/>
        <meta property='og:url' content='//babka-overflow.herokuapp.com/#/'/>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
